 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="firstname" class="text-light">firstname</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="firstname" value="" placeholder="Entrer">
        </div>
        <div class="form-group">
            <label for="lastname" class="text-light">lastname</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="lastname" value="" placeholder="Entrer">
        </div>
        <div class="form-group">
            <label for="Age" class="text-light">age</label>
            <input type="text" name="age" value="" placeholder="Entrer">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">validate</button>
        </div>

    </div>
</form>

